<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="nav">
        <div class="sections-wrap">
            <a class="section-button" href="{{ url_for('base') }}">Wszystkie filmy</a>
            <a class="section-button">Polecane filmy</a>
        </div>
        <div class="logging-wrap">
            <a class="logging-buttons" href="{{ url_for('login') }}">Zaloguj</a>
            <a class="logging-buttons" href="{{ url_for('register') }}">Zarejestruj</a>
        </div>
    </div>

    <div class="content">
        <div class="movies-wrapper">
            
        </div>

    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

</body>
</html>